//variables
$mainColor : #333333;
$fontColor : #333333;

//mixin


//nesting de la page d'acceuil
body{
    background-color: $mainColor;
    color: $fontColor;
    nav{
        background-color: black;
    }
    header{
        color: white
    }
    main{
        header{
            color: #007bff;
        }
        h3{
            color: #007bff;
        }
        h2{
            color: #007bff;
        }
        .film_stamp{
            width: 187.5px;
            background-color: white;
        }
        .list-card{
            background-color: white;
        }
        .film_fiche{
            background-color: white;
        }
        .ba_bg{
            background-color: black;
        }
    }
   
    footer{
        background-color: black;
        height: 150px;
    }
}