//variables
$mainColor : #333333;
$fontColor : #FFC300;

//mixin


//nesting de la page d'acceuil
body{
    background-color: $mainColor;
    color: $fontColor;
    
    .film_stamp{
        width: 232px;
    }
}