body {
  background-color: #333333;
  color: #333333;
  min-height: 100vh;
}
body nav {
  background-color: black;
}
body nav a {
  text-decoration: none !important;
}
body nav .menu-sub {
  text-decoration: none !important;
  color: #007bff;
}
body nav .menu-sub:hover {
  color: white;
  background-color: #007bff;
  transition: 200ms;
}
body header {
  color: white;
  background-color: #222222;
}
body main header {
  color: #007bff;
}
body main h3 {
  color: #007bff;
}
body main h2 {
  color: #007bff;
}
body main .home-jaquette {
  width: 100%;
  height: auto;
}
body main .film_stamp {
  width: 47%;
  background-color: white;
}
body main .film_stamp a {
  text-decoration: none !important;
  color: #007bff;
}
body main .film_stamp:hover {
  background-color: #007bff;
  color: white;
  transition: 200ms;
  cursor: pointer;
}
body main .film_stamp:hover a {
  text-decoration: none !important;
  color: white;
}
body main .list-card {
  background-color: white;
}
body main .list-image {
  background-color: black;
}
body main .film_fiche {
  background-color: white;
}
body main .div-jaquette {
  background-color: black;
}
body main .fiche-jaquette {
  width: 100%;
  height: auto;
}
body main .trailer-bg {
  background-color: black;
  width: 100%;
}
body main .div-real {
  background-color: black !important;
  width: 90%;
}
body main .div-real .real-photo {
  width: 100%;
  height: auto;
}
body main .real-text {
  background-color: white;
}
body main .filtre-type {
  background-color: #dddddd;
}
body main .filtre-select {
  background-color: #eeeeee;
  text-decoration: none !important;
  color: #007bff;
}
body main .filtre-select:hover {
  background-color: #007bff;
  color: white;
  transition: 200ms;
}
body main .genre-card {
  background-color: #444444;
  width: 82.5%;
}
body footer {
  background-color: black;
  color: #aaaaaa;
}
body footer a {
  text-decoration: none !important;
}
body footer .menu-sub {
  text-decoration: none !important;
  color: #007bff;
}
body footer .menu-sub:hover {
  color: white;
  background-color: #007bff;
  transition: 200ms;
}
body footer .logo-acs {
  width: 40%;
  height: auto;
}

@media (min-width: 768px) {
  body {
    background-color: #333333;
    color: #333333;
    min-height: 100vh;
  }
  body nav {
    background-color: black;
  }
  body nav a {
    text-decoration: none !important;
  }
  body nav .menu-sub {
    text-decoration: none !important;
    color: #007bff;
  }
  body nav .menu-sub:hover {
    color: white;
    background-color: #007bff;
    transition: 200ms;
  }
  body header {
    color: white;
    background-color: #222222;
  }
  body main header {
    color: #007bff;
  }
  body main h3 {
    color: #007bff;
  }
  body main h2 {
    color: #007bff;
  }
  body main .film_stamp {
    width: 187.5px;
    background-color: white;
  }
  body main .list-card {
    background-color: white;
  }
  body main .list-image {
    background-color: black;
  }
  body main .div-jaquette {
    height: 100%;
    background-color: black;
  }
  body main .fiche-jaquette {
    width: 100%;
    height: auto;
  }
  body main .film_fiche {
    background-color: white;
  }
  body main .trailer-bg {
    background-color: black;
    width: 100%;
  }
  body main .div-real {
    background-color: black !important;
    width: 90%;
  }
  body main .div-real .real-photo {
    width: 100%;
    height: auto;
  }
  body main .real-text {
    background-color: white;
  }
  body main .filtre-type {
    background-color: #dddddd;
  }
  body main .filtre-select {
    background-color: #eeeeee;
    text-decoration: none !important;
    color: #007bff;
  }
  body main .filtre-select:hover {
    background-color: #007bff;
    color: white;
    transition: 200ms;
  }
  body main .genre-card {
    background-color: #444444;
    width: 82.5%;
  }
  body footer {
    background-color: black;
    color: #aaaaaa;
  }
  body footer a {
    text-decoration: none !important;
  }
  body footer .menu-sub {
    text-decoration: none !important;
    color: #007bff;
  }
  body footer .menu-sub:hover {
    color: white;
    background-color: #007bff;
    transition: 200ms;
  }
  body footer .logo-acs {
    width: 40%;
    height: auto;
  }
}
@media (min-width: 992px) {
  body {
    background-color: #333333;
    color: #333333;
    min-height: 100vh;
  }
  body nav {
    background-color: black;
  }
  body nav a {
    text-decoration: none !important;
  }
  body nav .menu-sub {
    text-decoration: none !important;
    color: #007bff;
  }
  body nav .menu-sub:hover {
    color: white;
    background-color: #007bff;
    transition: 200ms;
  }
  body header {
    color: white;
    background-color: #222222;
  }
  body main header {
    color: #007bff;
  }
  body main h3 {
    color: #007bff;
  }
  body main h2 {
    color: #007bff;
  }
  body main .film_stamp {
    width: 187.5px;
    background-color: white;
  }
  body main .list-card {
    background-color: white;
  }
  body main .list-image {
    background-color: black;
  }
  body main .film_fiche {
    background-color: white;
  }
  body main .div-jaquette {
    height: 100%;
    background-color: black;
  }
  body main .fiche-jaquette {
    width: 100%;
    height: auto;
  }
  body main .trailer-bg {
    background-color: black;
    width: 100%;
  }
  body main .real-photo {
    background-color: black !important;
  }
  body main .real-text {
    background-color: white;
  }
  body main .filtre-type {
    background-color: #dddddd;
  }
  body main .filtre-select {
    background-color: #eeeeee;
    text-decoration: none !important;
    color: #007bff;
  }
  body main .filtre-select:hover {
    background-color: #007bff;
    color: white;
    transition: 200ms;
  }
  body main .genre-card {
    background-color: #444444;
    width: 82.5%;
  }
  body footer {
    background-color: black;
    color: #aaaaaa;
  }
  body footer a {
    text-decoration: none !important;
  }
  body footer .menu-sub {
    text-decoration: none !important;
    color: #007bff;
  }
  body footer .menu-sub:hover {
    color: white;
    background-color: #007bff;
    transition: 200ms;
  }
}

/*# sourceMappingURL=style.css.map */
