{% extends "template.twig" %}

{% block info %}
    <p>
        {{info}}
    </p>
{% endblock %}

{% block affichage %}
<p class="col-12 text-center">
test
    <ul>
        {% for array in list %}
            {% for element in array %}
                <a href="/{{element}}">{{element}}</a>
            {% endfor %}
        {% endfor %}
    </ul>
</p>
{% endblock %}
