{% extends "template.twig" %}

{% block affichage %}
<p class="col-12 text-center">
    <ul>
        {% for array in list %}
            {% for element in array %}
                <li><a href="/{{element}}">{{element}}</a></li>
            {% endfor %}
        {% endfor %}
    </ul>

</p>
{% endblock %}