{% extends "template.twig" %}

{% block test %}
<p class="col-12 text-center color_police edition_sec1">
{{list}}
</p>
<p class="col-12 text-center color_police edition_sec1">
{{list2}}
</p>
{% endblock %}