<!doctype html>
<html lang="fr">

<head>
    <!-- meta tags obligatoires-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- meta tags optionels -->
    <meta name="auteurs" content="Fabien Cazalet, Gaëtan Emond, Aurélien Deloye">
    <meta name="date de création" content="22 novembre 2018">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
<<<<<<< HEAD
    <!-- titre et favicon -->
=======
    <base http://localhost/annuaire_films/>

>>>>>>> 3fec094ecbe82fd679e2c4a2be95c34bcc61e0cc
    <title>Annuaire de films</title>
    <!-- Lien vers la feuille de style css -->
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <nav class="container-fluid">
        <div class="row">
            <a class="col-12 text-center m-4" href="home">
                <h1>Annuaire de films</h1>
            </a>
        </div>
    </nav>
    <header class="container-fluid">
        <!-- Block d'affichage des informations relatives à l'affichage -->
        {% block info %}
        {% endblock %}
    </header>
    <main class="container-fluid">
<<<<<<< HEAD
        <section class="container d-flex flex-column align-items-center">
            <a class="m-4" href="fiche">
                <button class="btn btn-primary">Affiche la liste</button>
            </a>
        </section>
        <!-- Section affichant les block twig relatives aux différents controleurs  -->
        <section class="container">
=======
        <section class="row d-flex flex-column align-items-center">
            <a class="m-4" href="test">
                <button class="btn btn-primary">Affiche la liste</button>
            </a>
>>>>>>> 3fec094ecbe82fd679e2c4a2be95c34bcc61e0cc
            {% block affichage %}
            {% endblock %}
        </section>
    </main>
    <footer>

    </footer>

    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>
