{% extends "template.twig" %}

{% block titre %}
    <p>
        {{titre}}
    </p>
{% endblock %}

{% block display %}
<p class="col-12 text-center">
test
    <ul>
        {% for array in list %}
            {% for element in array %}
                <li>{{element}}</li>
            {% endfor %}
        {% endfor %}
    </ul>
</p>
{% endblock %}